.Rproj.user
.Rhistory
.RData
ADrna.csv
MCIrna.csv
NCIrna.csv
code.txt
data.csv
syn.txt
truth.csv
fullNetwork.png
rosmap.cys
test.R
Rplot.tiff
enrichmentTest.R
gwasEnrichment.tiff
gwasPvalue.tiff
sparrow2hubDEenrichment.tiff
sparrow2results.csv
test.tiff
.DS_Store
admod.csv
adnet.csv
ncimod.csv
ncinet.csv
dataForComparison
ROSMAP_metanetwork_speakeasy_modules.csv
rosmapRNAseq.csv
makeConsensus.sh
braak.cys
braak12.png
braak12mg_2mo.png
braak12mg_4mo.png
braak12mg_6mo.png
braak12mg_8mo.png
braak12mod.csv
braak12net.csv
braak34.png
braak34mg_2mo.png
braak34mg_4mo.png
braak34mg_6mo.png
braak34mg_8mo.png
braak34mod.csv
braak34net.csv
braak56.png
braak56mg_2mo.png
braak56mg_4mo.png
braak56mg_6mo.png
braak56mg_8mo.png
braak56mod.csv
braak56net.csv
combinedLillyGeneSets.csv
