.Rproj.user
.Rhistory
.RData
ADrna.csv
MCIrna.csv
NCIrna.csv
code.txt
data.csv
syn.txt
truth.csv
fullNetwork.png
rosmap.cys
test.R
Rplot.tiff
enrichmentTest.R
gwasEnrichment.tiff
gwasPvalue.tiff
sparrow2hubDEenrichment.tiff
sparrow2results.csv
test.tiff
.DS_Store
admod.csv
adnet.csv
ncimod.csv
ncinet.csv
dataForComparison
ROSMAP_metanetwork_speakeasy_modules.csv
rosmapRNAseq.csv
makeConsensus.sh
braak.cys
braak12.png
braak12mg_2mo.png
braak12mg_4mo.png
braak12mg_6mo.png
braak12mg_8mo.png
braak12mod.csv
braak12net.csv
braak34.png
braak34mg_2mo.png
braak34mg_4mo.png
braak34mg_6mo.png
braak34mg_8mo.png
braak34mod.csv
braak34net.csv
braak56.png
braak56mg_2mo.png
braak56mg_4mo.png
braak56mg_6mo.png
braak56mg_8mo.png
braak56mod.csv
braak56net.csv
combinedLillyGeneSets.csv
ROSMAP_metanetwork_megena_speakeasy_modules.csv
nciNetworkForDavid.pdf
nciNetworkForDavid.png
mNmG.jpeg
prelimNet.jpeg
sEmG.jpeg
sEmN.jpeg
ROSMAP_metanetwork_megena_speakeasy_wgcna_modules.csv
combined_mssm_rosmap_modules.csv
ROSMAP_metanetwork_megena_speakeasy_wgcna_modules_table.csv
rosmapoverallmod.csv
rosmapoverallnet.csv
ad.jpg
adAdEnrich.csv
adRelatedEnrichments.xlsx
braak12.jpg
braak12AdEnrich.csv
braak34.jpg
braak34AdEnrich.csv
braak56.jpg
braak56AdEnrich.csv
mci.jpg
mciAdEnrich.csv
mcimod.csv
mcinet.csv
nci.jpg
nci2mo.jpg
nci4mo.jpg
nci6mo.jpg
nci8mo.jpg
nciAdEnrich.csv
nciSummary.csv
rosmapNetworks.cys
rosmapNetworksTauMouse.cys
rosmapNetworksTauMouse2Mo.cys
rosmapNetworksTauMouse4Mo.cys
rosmapNetworksTauMouse4vs2Mo.cys
rosmapNetworksTauMouse6Mo.cys
rosmapNetworksTauMouse8Mo.cys
rosmapNetworksTest.cys
nciSummary.xlsx
runClinicalAssociationTests.Rmd
runClinicalAssociationTests.html
runClinicalAssociationTests.pdf
rosmapADRNASeq.csv
rosmapMCIRNASeq.csv
rosmapNCIRNASeq.csv
Rush_module_description.docx
Rush_module_identifiers.csv
ROSMAP_eqtl_combined+CI_chr10_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr10_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr11_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr11_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr12_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr12_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr13_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr13_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr14_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr14_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr15_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr15_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr16_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr16_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr17_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr17_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr18_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr18_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr19_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr19_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr1_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr1_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr20_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr20_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr21_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr21_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr22_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr22_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr2_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr2_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr3_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr3_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr4_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr4_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr5_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr5_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr6_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr6_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr7_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr7_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr8_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr8_maf0.02_trans.out
ROSMAP_eqtl_combined+CI_chr9_maf0.02_cis.out
ROSMAP_eqtl_combined+CI_chr9_maf0.02_trans.out
